::-webkit-scrollbar {
  display: none;
}

* {
  margin: 0;
}

.smallList li {
  font-size: 18px;
  font-weight: lighter;
  font-family: initial;
}
body {
  background-color: #fff;
}
.MuiPaper-root.MuiPickersPopper-paper {
  background-color: darkslategrey !important; /* Set the background color */
  color: white !important; /* Set the text color */
}
.MuiDailog-paper {
   background-color: darkslategrey !important; /* Set the background color */
  color: white !important; /* Set the text color */
}
